body {
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 48px;
    color: lightcoral;
}

.grid-container {
    height: 480px;
    width: 480px;
    border: 20px solid lightcoral;
    border-radius: 16px;
    background-color: white;
}

.sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

button {
    width: 96px;
    height: 36px;
    border-radius: 6px;
    font-weight: bold;
}

#black-button-default {
    color: black;
    background-color: white;
}

#black-button-clicked {
    color: white;
    background: black;
}

#rainbow-button-default {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.4) 0%,
        rgba(255, 154, 0, 0.4) 10%,
        rgba(208, 222, 33, 0.4) 20%,
        rgba(79, 220, 74, 0.4) 30%,
        rgba(63, 218, 216, 0.4) 40%,
        rgba(47, 201, 226, 0.4) 50%,
        rgba(28, 127, 238, 0.4) 60%,
        rgba(95, 21, 242, 0.4) 70%,
        rgba(186, 12, 248, 0.4) 80%,
        rgba(251, 7, 217, 0.4) 90%,
        rgba(255, 0, 0, 0.4) 100%
    );
}

#rainbow-button-clicked {
    color: black;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.8) 0%,
        rgba(255, 154, 0, 0.8) 10%,
        rgba(208, 222, 33, 0.8) 20%,
        rgba(79, 220, 74, 0.8) 30%,
        rgba(63, 218, 216, 0.8) 40%,
        rgba(47, 201, 226, 0.8) 50%,
        rgba(28, 127, 238, 0.8) 60%,
        rgba(95, 21, 242, 0.8) 70%,
        rgba(186, 12, 248, 0.8) 80%,
        rgba(251, 7, 217, 0.8) 90%,
        rgba(255, 0, 0, 0.8) 100%
    );
}

